<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidrelax.relax"

   >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />



    　　


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<!--    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />-->



    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >


        <activity
            android:name="com.androidrelax.activity.TreeHoleSendActivity"
            android:label="@string/title_activity_tree_hole_send"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.androidrelax.activity.LoginActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.androidrelax.activity.Register"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.androidrelax.activity.TreeHoleRecordActivity"
            android:label="@string/title_activity_tree_hole_record" >
        </activity>
        <activity
            android:name="com.androidrelax.activity.TreeHoleDiaryActivity"
            android:label="@string/title_activity_tree_hole_diary" >
        </activity>
        <activity
            android:name="com.androidrelax.activity.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity android:name="com.androidrelax.activity.MusicMainActivity" >
        </activity>
        <activity android:name="com.androidrelax.activity.MusicUniverseActivity" >
        </activity>
        <activity android:name="com.androidrelax.activity.MusicWaterActivity" >
        </activity>
        <activity android:name="com.androidrelax.activity.MusicForestActivity" >
        </activity>
        <activity android:name="com.androidrelax.activity.MusicGoodnightActivity" >
        </activity>
        <activity android:name="com.androidrelax.activity.MusicPlayActivity" >
        </activity>
        <activity
            android:name=".PersonalDataActivity"
            android:label="@string/title_activity_personal_data" >
        </activity>
        <activity
            android:name="com.androidrelax.activity.MusicUniversePlayActivity"
            >

        </activity>
        <activity
            android:name="com.androidrelax.activity.MusicWaterPlayActivity"
            >

        </activity>
        <activity
            android:name="com.androidrelax.activity.MusicGoodnightPlayActivity"
            >

        </activity>


    </application>

</manifest>
